<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>webifier - batch</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/webifier.png"/>

    <link rel="stylesheet" href="/lib/tether/dist/css/tether.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<th:block th:replace="page :: nav"/>
<div class="container mt-4">
    <th:block th:replace="page :: errors"/>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Stapelverarbeitung:</h2>
            <form id="webifier-batch" th:action="@{/batch/check}" method="post">
                 <textarea name="urls" class="form-control input-webifier-batch"
                           placeholder="www.example.com" rows="15" autofocus="autofocus"></textarea>
                <button class="btn btn-lg btn-webifier pull-right" type="submit">Ausführen <span class="fa fa-play"></span></button>
                <a id="open-batch-file" class="btn btn-lg btn-webifier pull-left" href="#">Datei öffnen <span class="fa fa-file-text-o"></span></a>
                <input id="open-batch-file-input" type="file" class="hidden"/>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="page :: footer"/>

<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/tether/dist/js/tether.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/batch.js"></script>
</body>
</html>