<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title >webifier</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/webifier.png"/>

    <link rel="stylesheet" href="/lib/tether/dist/css/tether.min.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<th:block th:replace="page :: nav"/>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <img class="webifier-logo mx-auto d-block" src="/img/webifier.png" alt="webifier"/>
        </div>
    </div>
    <th:block th:replace="page :: errors"/>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form id="webifier-search" th:action="@{/check}" method="post">
                <div class="input-group input-group-lg">
                    <input type="text" name="url" class="form-control input-webifier-search"
                           placeholder="www.example.com" autofocus="autofocus"/>
                    <span class="input-group-btn">
                        <button class="btn btn-webifier" type="submit"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-8 offset-md-2">
            <p class="text-xs-center"><strong>Lassen sie Ihre Spam-Mails scannen:</strong> Einfach an <a href="mailto:check@webifier.de">check@webifier.de</a> weiterleiten.</p>
        </div>
    </div>
</div>

<th:block th:replace="page :: footer"/>

<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/tether/dist/js/tether.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>