<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="nav">
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <a class="navbar-brand" href="/">
            <img src="/img/webifier-small.png" class="d-inline-block align-top" alt="webifier"/>
            webifier
        </a>
        <button class="navbar-toggler hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbarResponsive">
            <ul class="nav navbar-nav float-sm-right">
                <li id="queue-size-item" class="nav-item hidden">
                    <div class="nav-link" href="#">Warteschlange: <span id="queue-size"></span></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/batch">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://statistics.webifier.de">
                        <i class="fa fa-area-chart" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
<th:block th:fragment="footer">
    <footer class="container footer text-xs-center">
        <p>© <a target="_blank" href="https://www.securitysquad.de">SecuritySquad</a> 2016</p>
    </footer>
</th:block>
<th:block th:fragment="errors">
    <div id="url-error-container" th:if="${#strings.equals('url_invalid', error)}" class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-danger" role="alert">
                <strong>Bitte geben Sie eine gültige Domain ein!</strong>
            </div>
        </div>
    </div>
    <div id="queue-error-container" th:if="${#strings.equals('queue_full', error)}" class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-danger" role="alert">
                <strong>Die Warteschlange ist zu groß, oder diese Webseite befindet sich bereits in der
                    Warteschlange!</strong><br/>Bitte probieren Sie es später erneut.
            </div>
        </div>
    </div>
</th:block>
</body>
</html>